<div class="background">
    <div class="container hundi_page_back">
        <div class="col-md-12">
            <h4> Manage User</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Email ID</th>
                    <th>Mobile No.</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="text-left">
                <tr ng-repeat="user in all_users">
                    <td>{{$index +1}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email_id}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.status}}</td>
                    <td><a href="#" ng-click="manageUser(user)">{{user.show_status}}</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>